:root {
    --theme-background-color: #ffffff;
    --theme-text-color: #000000;
    --theme-card-color: #f5f7fa;
    --theme-highlight-color-light-orange: #FF8531;
    --theme-highlight-color-dark-orange: #E15219;
}